<%- @articles_listing.each do |article| %>
  <%=cache(@article) do%>
    <h1><%= truncate(article.title, length: 40) %></h1>
    <%= truncate(strip_tags(markdown(article.contents)), length: 50) %>
    <%= link_to 'Read more', article_path(article)%>
    <p></p>
    <hr>
  <% end %>
<% end %>

<nav>
  <ul class="pagination">
    <%= paginate @articles_listing %>
  </ul>
</nav>