<div class="lead">
  <%=@article.title %>
</div>

<div class="lead">
  <%= @article.contents %>
</div>

<%=link_to("Edit Article", edit_article_path(@article.id), class: "btn btn-default")  %>
<%=link_to("Delete Article", article_path(@article.id), method: :delete, class: "btn btn-default")  %>

<%= render partial: "comments/comments", locals: {comments: @article.comments, style: "media-list"} %>


<%= form_for :comment, url: article_comments_path(@article.id), html: { class: "form-group"} do |f| %>
  <div class="form-group">
    <%= f.label :body, "Submit a new comment" %><br>
    <%= f.text_area :body, class: "form-control", rows: 5, cols: 115 %>
  </div>
         
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-default"%>
    <%= link_to 'Back', articles_path, class: "btn btn-default" %>
  </div>
<% end %>



